* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: #d71313;
  --white: #f6f5f5;
  --black: #040d12;
  --blue: #1d24ca;
  --yellow: #ffb000;
}

.grid-container {
  height: 748px;
  width: 748px;
  background-color: black;

  display: grid;
  grid-template-rows: 414px 130px 155px 20px;
  grid-template-columns: 320px 198px 153px 50px;
  gap: 9px;
  margin: 9px;
}

.red {
  background-color: var(--red);
}

.white {
  background-color: var(--white);
}

.blue {
  background-color: var(--blue);
  margin-bottom: 10px;
}

.yellow {
  background-color: var(--yellow);
}

.gray {
  background-color: var(--black);
}

.first {
  grid-column: span 3;
}
.second,
.third {
  grid-row: span 2;
}
.third {
  grid-column: span 2;
}
.fourth {
  grid-row: span 2;
}
